<div class="py-4">
      <h2 class="tex-center m-auto" id="adminpage" >Administración</h2>

<div class="px-4 mx-auto py-3">
      <table class="table text-white rounded mx-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody id="cuerpo">
         
        </tbody>
      </table>
      </div>
    </div>