<div>
<div class="py-4 text-center">
  <h2 id="mainpage"><i class="fa-solid fa-person-snowboarding"></i>
    Lista de participantes
  </h2>

  <div class="px-4 mx-auto py-3">
    <table class="table text-white rounded mx-auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Años de experiencia</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody id="cuerpo">
      </tbody>
    </table>
  </div>
</div>
</div>